{
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "extends": [
      "eslint:recommended",
      "plugin:react/recommended",
      "airbnb"
    ],
    "parser": "babel-eslint",
    "parserOptions": {
      "ecmaFeatures": {
        "experimentalObjectRestSpread": true,
        "experimentalDecorators": true,
        "jsx": true,
        "classes": true
      },
      "sourceType": "module"
    },
    "plugins": [
      "react",
      "jsx-a11y"
    ],
    "rules": {
      "no-dupe-args": "error",
      "no-dupe-keys": "error",
      "quotes": ["error", "single"],
      "semi": [2, "always", { "omitLastInOneLineBlock": true}],
      "quote-props": [2, "as-needed"],
      "padding-line-between-statements": ["error", {
        "blankLine": "always",
        "prev": "*",
        "next": "return"
      }],
      "space-before-blocks": ["error", {
        "functions": "always",
        "keywords": "always",
        "classes": "always"
      }],
      "linebreak-style": 0,
      "space-in-parens": ["error", "never"],
      "no-var": "error",
      "jsx-a11y/aria-props": 2,
      "jsx-a11y/heading-has-content": 0,
      "jsx-a11y/href-no-hash": "off",
      "jsx-a11y/label-has-for": 2,
      "jsx-a11y/mouse-events-have-key-events": 2,
      "jsx-a11y/role-has-required-aria-props": 2,
      "jsx-a11y/role-supports-aria-props": 2,
      "jsx-a11y/no-static-element-interactions": 0
    }
}